<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	 	http://www.springframework.org/schema/context
	 	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	 	http://www.springframework.org/schema/aop
	 	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	 	http://www.springframework.org/schema/tx
	 	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	 	
	<!-- 扫描service包，开启注解 -->
	 <context:component-scan base-package="com.chinasoft.planeticket.service.impl"/>
	<!-- 读取配置jdbc文件 -->
	<context:property-placeholder location="classpath:mysql-jdbc.properties"/>
	
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="driverClassName" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${user}"/>
		<property name="password" value="${pwd}"/>
		<!--初始化连接池大小  -->
		<property name="initialSize" value="10"/>
		<!-- 最大连接数 -->
		<property name="maxActive" value="20"/>
	</bean>
	
	 <!-- 配置mybatis的核心工厂 sqlSessionFactory -->
	 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指明采用哪个数据源 -->
	 	<property name="dataSource" ref="dataSource"/>
		<!-- 自动扫描mapping目录下面的所有配置文件 -->
	 	<property name="mapperLocations" value="classpath:com/chinasoft/planeticket/mapper/mapping/*.xml"/>
		<!-- 读取spring-mybatis.xml文件 -->
	 	<property name="configLocation" value="classpath:spring-mybatis.xml"></property>
	 </bean>


	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描dao接口包 -->
		<property name="basePackage" value="com.chinasoft.planeticket.mapper"/>
		<!-- 根据工厂名称sqlSessionFactory注入一个SqlSessionFactoryBean对象 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务通知 -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<!-- 配置事务传播属性 -->
		<tx:attributes>
			<!-- REQUIRED如果当前没事务，就开启一个事务，如果已经存在一个事务中，加入到这个事务中 -->
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<!-- SUPPORTS支持当前事务，如果当前没有事务，就以非事务方式执行 -->
			<tx:method name="query*" propagation="SUPPORTS"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 事务的切点配置 -->
	 <aop:config>
	 	<aop:pointcut expression="execution(* com.chinasoft.planeticket.service.*.*(..))" id="cut"/>
	 	<aop:advisor advice-ref="transactionAdvice" pointcut-ref="cut"/>
	 </aop:config>
</beans>